.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.logo_and_site_name {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: MediumAquamarine;
  padding: 0px 15px;
  border: 1px solid black;
}

.site_name {
  padding: 0 15px;
}

.rubrics {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.rubric {
  padding: 0 15px;
  text-decoration: underline;
}
/*All divs*/
div {
  border: 1px solid black;
}

/*main content box */

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  max-width: 1232px;
  margin: 0 auto 78px auto;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* All columns styling*/
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* column-large*/
.column .large {
  width: 630px;
}

.image-title. {
  display: flex;
  flex-direction: row;
}

.image-title span {
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 text-align: center;
}

.one {
  background-image: url("./../pictures/img-story-main.png");
  font-size: 40px;
  justify-content: flex-start;
}

.two {
  background-image: url("./../pictures/img-story-2.png");
}

.three {
  background-image: url("./../pictures/img-story-3.png");
}

/*column midium */

.column .medium {
  width: 300px;
}

.four {
  background-image: url("./../pictures/img-story-1.png");
}

/*column small */

.column.small {
  width: 240px;
}
